.navbar-lewagon {
  justify-content: space-between;
  background-color: #A4BE7B !important;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-link {
  color: #0E5E6F !important;
}
