<h1>TOUS LES PRODUITS</h1>
<%# <p>Find me in app/views/products/index.html.erb</p> %>

<div class="container">
  <div class="cards">
    <% @products.each do |product| %>

          <div class="card mb-5" style="width: 18rem;">
            <%= cl_image_tag product.photo.key, class: "card-img-top" %>
            <div class="card-body">
              <h5 class="card-title"><%= product.name %></h5>
              <p class="card-text"><%= product.state %></p>
              <a href="#" class="btn btn-primary">voir les détails</a>
            </div>
          </div>

    <% end %>
  </div>
</div>
